
h1{
	font-family: "Palanquin", Times, serif;
	color:white;
	text-align: center;
	top:;
	font-size:;
	margin:;
}

h4{
	font-family: "Palanquin", Times, serif;
	color:white;
	text-align: center;
	top:;
	font-size:;
	margin:;
}

.signup{
	position: absolute;
	font-family: "Palanquin", Times, serif;
	background-color:#1abc9c;
	margin: 200px;


}