
* {
    padding: 0;
    margin: 0;
}



/* Put your styles BELOW this line */
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

*/
.name{
	width: 400px;
	margin: auto;
	font-family: "Trebuchet MS", Times, serif;
	color: green;
}

.story{
	width: 400px;
	margin: auto;
	font-family: "Trebuchet MS", Times, serif;
}

h1{
	font-family: "Trebuchet MS", Times, serif;
	color: green;
}


h4{
	font-family: "Trebuchet MS", Times, serif;
	color: green;
}
