/*.name{
	width: 400px;
	margin: auto;
	font-family: "Palanquin", Times, serif;
	color: green;
}
*/

.story{
	position: absolute;
    margin-left: 250px;
    top: 40px;
    width: 60%;
	font-family: "Palanquin", Times, serif;
	font-size: 35px;
}

.signUp{
	position: absolute;
    margin-left:28%;
    top: 6%;
    width: 40%;
	font-family: "Palanquin", Times, serif;
	font-size: 20%;
	background-color:#1abc9c;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.nationality{
	position: absolute;
    margin-left:28%;
    top: 50%;
    width: 40%;
    height: 43%;
	font-family: "Palanquin", Times, serif;
	font-size: 110%;
	background-color:#1abc9c;
	color: white;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}


input[type=text]{
	width: 50%;
	height: 40px;
	margin-left: 130px;
	border-top-right-radius:50%;
	border-bottom-left-radius: 50%;
	text-align: center;
}

input[type=password]{
	width: 50%;
	height: 40px;
	margin-left:130px;
	margin-top: 1%;
	margin-bottom: 1%;
	border-top-right-radius:50%;
	border-bottom-left-radius: 50%;
	text-align: center;
	color:black;
}

input[type=submit]{
	width: 35%;
	height: 40px;
	color:#1abc9c;
	margin-left:33%;
	margin-bottom:2%;
	border-radius: 25px;
	background-color: white;

}

input[type=radio]{
	width: 3%;
	height: 20px;
	margin-left: 205px;
	background-color: white;

}

#other{
	width: 25%;
	height: 10%;
	margin-top:2%;
	margin-left:37%;
	margin-bottom: 1%;
}


<<<<<<< HEAD
.story{
	position: absolute;
    margin-left: 250px;
    top: 40px;
    width: 60%;
	font-family: "Palanquin", Times, serif;
	font-size: 35px;
}

.signUp{
	position: absolute;

    margin-left:28%;
    top: 40px;
    width: 40%;
	font-family: "Palanquin", Times, serif;
	font-size: 35px;
	background-color:#1abc9c;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.nationality{
	position: absolute;
    margin-left:28%;
    top: 340px;
    width: 40%;
	font-family: "Palanquin", Times, serif;
	font-size: 20px;
	background-color:#1abc9c;
	color: white;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}


input[type=text]{
	width: 50%;
	height: 40px;
	margin-left: 130px;
}

input[type=password]{
	width: 50%;
	height: 40px;
	margin-left:130px;
	color: white;
}

input[type=submit]{
	width: 35%;
	height: 40px;
	color:#1abc9c;
	margin-left:175px;
	margin-bottom: 30px;

}

input[type=radio]{
	width: 3%;
	height: 20px;
	margin-left: 205px;

}

#other{
	width: 25%;
	height: 20px;
	margin-top:10px;
	margin-left:200px;
}


=======
>>>>>>> 7b47e2c04819e9a6f837da26634dd7e566fb259f

h1{
	font-family: "Palanquin", Times, serif;
	color:white;
	text-align: center;
	top:30px;
	font-size: 100px;
	margin: 20px;
}

h2{
	font-family: "Palanquin", Times, serif;
	color:white;
	text-align: center;
	font-size: 120px;
	margin: 0px;
	margin-top: 120px;
	margin-bottom: 100px;
}

h3{
	font-family: "Palanquin", Times, serif;
	text-align: center;
	font-size: 80px;
	margin: 0px;
	margin-top: 80px;
	margin-bottom: 10px;
}


h4{
	font-family: "Palanquin", Times, serif;
	color: white;
	margin-bottom: 5px;
	text-align: center;
}


a{
	font-family: "Palanquin", Times, serif;
	color: blue;
	font-size: 50px;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:430px;
}


.login{
	font-family: "Palanquin", Times, serif;
	background-color:  #1abc9c;
	color: white;
	text-align: center;
	margin: 200px;
	font-size: 60px;
	border-radius:25px;

}
<<<<<<< HEAD

.signUp{
	margin-top: 10%;
}
=======
>>>>>>> 7b47e2c04819e9a6f837da26634dd7e566fb259f
