/*.name{
	width: 400px;
	margin: auto;
	font-family: "Palanquin", Times, serif;
	color: green;
}
*/

.story{
	position: absolute;
    margin-left: 250px;
    top: 40px;
    width: 60%;
	font-family:"FreeMono", monospace;
	font-size: 35px;
}

.signUp{
	position: absolute;
    margin-left:28%;
    top: 3%;
    width: 40%;
	/*font-family: "Palanquin", Times, serif;*/
	/*font-size: 20%;*/
	border-color:black;
	border-radius:25px;
	font-family:"FreeMono", monospace;
	background-color:#1abc9c;
	margin-top: 1%;
	border-style: solid;
    border-width: 3px;
    border-radius: 50px;
    background-color: rgba(130, 130, 130, 0.5);
    /*border-bottom: 25px;*/
    color: white;
}

/*#Palestinian{
	font-family: "Palanquin", Times, serif;
	font-size: 50px;	
}*/


/*.nationality{
	position: absolute;
    margin-left:28%;
    top: 50%;
    width: 40%;
    height: 43%;
	font-family: "Palanquin", Times, serif;
	font-size: 110%;
	background-color:#1abc9c;
	color: white;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;

}*/


input[type=text]{
	width: 50%;
	height: 40px;
	margin-left: 25%;
	background-color:white;
	border-radius:25px;
	font-family:"FreeMono", monospace;
	text-align: center;
}

input[type=password]{
	width: 50%;
	height: 40px;
	margin-left:25%;
	margin-top: 1%;
	margin-bottom: 1%;
	color: black;
	background-color:white;
	border-radius:25px;
	font-family:"FreeMono", monospace;
	text-align: center;
}

input[type=submit]{
	width: 35%;
	height: 40px;
	/*color:#1abc9c;*/
	margin-left:33%;
	margin-bottom:2%;
	/*border-radius: 25px;*/
	background-color: white;
	font-family:"FreeMono", monospace;

}




input[type=radio]{
	width: 3%;
	height: 20px;
	margin-left: 25%;
	background-color: white;

}

#other{
	width: 25%;
	height: 10%;
	margin-top:2%;
	margin-left:37%;
	margin-bottom: 1%;
}


h1{
/*	font-family: "Palanquin", Times, serif;
	color:white;
	text-align: center;
	top:30px;
	font-size: 100px;
	margin: 20px;*/
	position: relative;
	color: #1abc9c ;
	text-align: center;
	font-size: 90px;
	/*font-family: "Courier New", Courier, monospace;*/
	/*font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif*/
	font-family:"FreeMono", monospace;
	font-weight: 300
}

h2{
	font-family: "Palanquin", Times, serif;
	color:white;
	text-align: center;
	font-size: 120px;
	margin: 0px;
	margin-top: 120px;
	margin-bottom: 100px;
}

h3{
	font-family: "Palanquin", Times, serif;
	text-align: center;
	font-size: 80px;
	margin: 0px;
	margin-top: 80px;
	margin-bottom: 10px;
}


h4{
	font-family: "Palanquin", Times, serif;
	color: #1abc9c;
	margin-bottom: 5px;
	text-align: center;
}


a{
	font-family: "Palanquin", Times, serif;
	color: blue;
	font-size: 50px;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:430px;
}


.login{
	font-family: "Palanquin", Times, serif;
	background-color:  #1abc9c;
	color: white;
	text-align: center;
	margin: 200px;
	font-size: 60px;
	border-radius:25px;

}

body{
	/*margin-top: 10%;*/
	background-color: #2f2f1e;
	margin-top:8%;
	/*background-color: #2f2f1e;*/
	background-image: url("dark.jpg");
	background-repeat: no-repeat;
	background-size : 1400px 790px;
}

@media only screen and (min-width: 1101px) {
	h1 {
    	font-size: 80px;
	}
}

@media only screen and (max-width: 1100px) {
    h1 {
    	font-size: 30px;
    }