<!DOCTYPE html>
<html>
    <head>
        <title>storeal</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>share your sroty!</h1>
        <form>
        	<input type="text" name="full_name" placeholder="full name">
        	
        	<input type="text" name="email" placeholder="Email">

        	<input type="text" name="story_title" placeholder="title">

        	<input type="text" name="story" placeholder="write your story here!">
        </form>
    </body>
</html>
