<!DOCTYPE html>
<html>
    <head>
        <title>STOREALS</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>What is Storeals?</h1>
        <h2>Welcome to Storeals, a unique website, here for you to explore.The aim of this website is to share real life stories from BOTH the Palestinian and Israeli perspectives. This website offers a platform for anyone who has been affected by the Israeli-Palestinian conflict. </h2>
    </body>
</html>
