<!DOCTYPE html>
<html>
    <head>

        <title>storeal</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
    	<div class="story">
		<form>
        	<h1>sign-up</h1>
        	<br>
        	<input type="text" name="full_name" placeholder="full name">
        	<br>
        	<br>
        	<input type="text" name="email" placeholder="E-mail">
        	<br>
        	<br>
        	<h4>please enter your nationality</h4>
        	<input type="radio" name="nationality" value=Palestinian">Palestinian
        	<input type="radio" name="nationality" value="Israeli">Israeli
        	<br>
        	<br>
      		<input type="submit" value="submit">
        </form>
    </div>
    </body>
</html>
