<!DOCTYPE html>
<html>
<head>
    {% block head %}{% endblock %}
<style>
ul {
    font-family: "Trebuchet MS", Times, serif;
    list-style-type: none;
    margin: 0;
    padding : 0;
    overflow: hidden;
    background-color: transparent;
    border: 2px solid white;
}
li {
    float: left;
}
/*#Home { padding: 500px; }*/

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 125px;
}
.navbarmany {
    padding-left: 250px;
   
}
li a:hover {
    background-color: black;
}
</style>
        <title>My Final Project</title>
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
    </head>
    <body>
        <ul class="navbarmany">
            <li ><a href="{{ url_for('home')}}">Home</a></li>
            <li><a href="{{ url_for('add_articles_route')}}">Post Your Story!</a></li>
        </ul>
    {% block body %}{% endblock %}


    </body>
</html>