
<html lang="en">

 {% block head %} 


        <title>storeal</title>

        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleMor.css') }}">

        <link rel="stylesheet" type="text/css" href="../static/styleMor.css">



   {% endblock %}
        
    {% block body %}
        
    	

    	<div class="signUp">
		<form method="POST">
        	<h1>sign-up</h1>
        	<input type="text" name="name" placeholder="full name">
        	<input type="password" name="password" placeholder="password">
        	<input type="text" name="email" placeholder="E-mail">
        	<br>



        </div>
    
        <div class="nationality">

        	<h4>please enter your nationality</h4>
        	<input  id="Palestinian" type="radio" name="nationality" value="Palestinian">Palestinian
            <br>
        	<input  id="Israeli" type="radio" name="nationality" value="Israeli">Israeli
            <br>
            <input type="radio" name="nationality" value="Other">Other:
            <br>
            <input type="text" name="nationality" placeholder="" id="other">
        	<br>
            <br>
      		<input type="submit" value="sign-up">
        </form>
    </div>
    {% endblock %}

    </body>
</html>