<!DOCTYPE html>
<html>
    <head>

        <title>storeal</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
    	<div class="story">
    		<form>
    		<h1>share your story!</h1>
    		<br>
        	<input type="text" name="story_title" placeholder="title">
        	<br>
        	<br>
        	<input type="text" name="story" placeholder="write your story here!">
        	<br>
        	<br>

        	<input type="submit" value="share story">
        </form>
    </div>
        </body>