/*.name{
	width: 400px;
	margin: auto;
	font-family: "Palanquin", Times, serif;
	color: green;
}
*/
.signUp{
	position: absolute;
    left: 250px;
    top: 40px;
    width: 60%;
	font-family: "Palanquin", Times, serif;
	font-size: 35px;
}

.nationality{
	position: absolute;
    left: 250px;
    top: 360px;
    width: 60%;
	font-family: "Palanquin", Times, serif;
	font-size: 20px;
}


input[type=text]{
	width: 60%;
	height: 80px;
}


input[type=password]{
	width: 60%;
	height: 40px;
}
input[type=submit]{
	width: 35%;
	height: 40px;
}

#other{
	width: 50%;
	height: 15px;
}



h1{
	font-family: "Palanquin", Times, serif;
	color: green;
	text-align: center;
	top:30px;
	font-size: 100px;
}


h4{
	font-family: "Palanquin", Times, serif;
	color: green;
}
